@import url('https://fonts.googleapis.com/css2?family=Mina&display=swap');

body{
    background-color: beige;
}

/*This is a comment*/

h1{
    font-family: "Mina", san-serif;
    font-size: 40px;
    color: rgb(79, 122, 240);
    font-style: italic;
}

p{
    font-family: 'Ubuntu', sans-serif;
    font-size: 25px;
    line-height: 35px;
    color: blueviolet;
}

.button-alert{
    background-color: aquamarine;
    border-style: double;
    padding: 10px;
    border-color: rgb(207, 50, 183);
    color: white;
    display: block;
    width: 100px;
    text-align: center;
    margin-top: 20px;
}

.botton-link{
    background-color: rgb(8, 123, 199);
    border-style: solid;
    border-radius: 10px;
    border-width: 2px;
    padding: 5px;
    border-color: blueviolet;
    text-decoration: none;
    color: white;
    display: block;
    width: 100px;
    text-align: center;
    margin-top: 20px;
}