@import url('https://fonts.googleapis.com/css2?family=Mina&display=swap');


h1{
    font-family: "Mina", san-serif;
    font-size: 40px;
    color: rgb(79, 122, 240);
    font-style: italic;
}

p{
    font-family: 'Ubuntu', sans-serif;
    font-size: 25px;
    line-height: 20px;
    color: blueviolet;
}